body {
    font-family: monospace;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6, ul, li, button {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.btn  {
    background-color: #efefef;
    border: 1px solid #222222;
    border-radius: 3px;
    padding: 3px 35px;
    transition: all 0.3s ease 0s;
}

.btn:hover,
.btn_isActive {
    cursor: pointer;
    background-color: dodgerblue;
    color: #222222;
}

.context {
    width: 200px;
    display: flex;
    flex-direction: column;
}

/* .context-view {} */

.context-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.listH > * {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
}

.row > * + * {
    margin-left: 10px;
}
